---
import Info from "./Info/index.astro";
import ActionButtons from "./ActionButtons.astro";
const { id, name, img, gender, size, pedigree, birthDate, state, slug } =
  Astro.props;
---

<div class="container">
  <div class="img-container">
    <div class="blur-container">
      <img
        transition:name=`img-${slug}`
        src={`/${img.profile}`}
        alt=`Imagen de ${name}`
      />
    </div>
  </div>
  <div class="info-container">
    <div class="header-container">
      <h1>{name}</h1>
      <ActionButtons />
    </div>
    <Info
      gender={gender}
      size={size}
      pedigree={pedigree}
      birthDate={birthDate}
      state={state}
    />
  </div>
</div>

<style define:vars={{ img: `url(/${img.profile})` }}>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8rem 2rem 0rem;
  }
  .img-container {
    width: 100%;
    height: 500px;
    background-image: var(--img);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
  }
  .blur-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(60px);
    display: grid;
    place-items: center;
    border-radius: 20px;
  }
  img {
    box-shadow: 0 0 8px 8px white inset;
    border-radius: 20px;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 1312px;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }
</style>
